# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven


name: libre-wsdl4j maven build
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The last 3 LTS releases
        # Java 17 is run in codacy-coverage-reporter
        java: [ 17, 21, 24, '25-ea' ]
    name: Java ${{matrix.java}}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - name: Build with Maven
        run: mvn -B -V clean verify --file pom.xml --no-transfer-progress -Dgpg.skip

